<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home style-logout">
      <header>
      <img src="/static/t3-edx-theming/images/e_learning.png" >
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">
              % if homepage_overlay_html:
                ${homepage_overlay_html | n, decode.utf8}
              % else:
                <%include file="index_overlay.html" />
              % endif
            </div>
            % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
              <div class="course-search">
                <form method="get" action="/courses">
                  <!-- UPDATE IN INDIGO2.1 - Change the structure for search bar  -->
                  <div class="search-field-wrapper">
                    <div class="button-holder">
                      <button class="search-button" type="submit">
                        ${_("Search")}
                      </button>
                    </div>
                    <label class="input-holder"><span class="sr">${_("Search for a course")}</span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4ZM2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8C14 9.29583 13.5892 10.4957 12.8907 11.4765L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L11.4765 12.8907C10.4957 13.5892 9.29583 14 8 14C4.68629 14 2 11.3137 2 8Z" fill="#9CA3AF"></path>
                        </svg>
                      <input class="search-input" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
                    </label>
                  </div>
                </form>
              </div>
            % endif

          </div>

          <%include file="index_promo_video.html" />
        </div>

      </header>
      <%include file="${courses_list}" />
            <div class="home_page_about">
          <p>  Launched in 2008, T3 Aviation Academy is a 360° all-encompassing aviation training and educational organisation that is home to the world’s most recognised aviation training programmes in line with the industry’s highest standards.
          
With over 800 cadets and more than 500 graduates who went on to fly with MENA's leading low-cost carrier, Air Arabia, T3 specialises in aviation training solutions, offering the latest cadet programme – Active ATPL and MPL, CPL Airline Programme, Airbus A320 Type Rating, PPC Validation, Licence Renewals, Licence Conversion, ELP Assessments, GCAA Examination Centre, Flight Dispatch Training, Ground Handling Training, and IATA and CPD courses. The organisation holds approvals under several aviation authorities, providing pilots in its target regions with world-class training standards.</p>
      </div>
      <div id="about" class="home_page_vision">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="88px">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>
        <div>
          <h2> Our Vision</h2>
          <p class="largeP"> To lead aviation training and services worldwide.</p>
        </div>
      </div>
      <div class="home_page_mission">
      <img src="https://t3-website.ams3.cdn.digitaloceanspaces.com/2fccbfdcf672694552271c3c9e9bfff8.jpg?updated_at=2023-09-14T08:17:36.466Z">
        <div>
          <h2> Our Mission</h2>
          <ul> 
            <li>To foster a culture of innovation, improvement, and excellence.</li>
            <li>To develop efficient, high-quality coaching and training.</li>
            <li>To be the world’s reference for multi-skilled human capital.</li>
          </ul>
        </div>
      </div>
    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
